body {
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
}

header {
	display: block;
	background-color: #adbdff;
	width: 100%;
	height: 16%;
	position: fixed;
	z-index: 10;
	box-shadow: 5px 10px 8px;
}

img {
	width: 8%;
	border-radius: 50%;
	margin: 0 0 0 2rem;

}

h1 {
	display: inline-block;
	right: 40%;
	top: 20%;
	position: absolute;
}

ul {
	display: inline-block;
	position: absolute;
	top: 30%;
	right: 2rem;
	list-style: none;
}

li {
	display: inline-block;
}

a {
	color: #ff0008;
	text-decoration: none;
	background-color: #c4c4c4;
	padding: 1rem;
	border: 1px dashed black;
	border-radius: 0 2rem 2rem ;
}

.dummy {
	height: 6rem;
}

.banner {
	position: relative;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	width: 100%;
	height: 18rem;
	background-repeat: no-repeat;
}

.bann {
	width: 100%;
	z-index: -2;
}

.inner {
	float: right;
	background-color: #fcff63;
	width: 10rem;
	height: 10rem;
	margin: 4%;
}

.flex {
	display: block;
	background-color: #69ffed;
	height: 15rem;
}

.super {
	display: inline-block;
	background-color: #ff623b;
	width: 12rem;
	height: 12rem;
	margin: 20px 110px;
}

.parent {
	width: 8rem;
	height: 8rem;
	background-color: #3bff69;
	margin: 2rem;
	position: relative;
}

.child1 , .child2, .child3 {
	position: absolute;
	width: 4rem;
	height: 4rem;
	background-color: #3bb4ff;
	margin: 2rem;
}

.child2{
	margin: 0 4rem;
	z-index: 1;
}

.child3{
	margin: 0 8rem;
	z-index: 1;
}

.footer {
	display: block;
	background-color: #a0ff8f;
	height: 5rem;
	padding: 4rem;
}

.name {
	display: inline-block;
}

.link {
	margin: 0 0 0 30%;
}

.mail {
	display: inline-block;
	float: right;
}