<br>
<% @post.comments.each do |comment| %>
  <br>
  <div class="container">
  <strong><%= comment.username %></strong>
  <p> <%= comment.body %> </p>
  <%= link_to "delete", [comment.post,comment], method: :delete,
                                    data:{confirm: "are you crazy?" }%>
  </div><br>

<% end %>


