<h3> add Comments</h3>
<%= form_for([@post,@post.comments.build]) do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field(:username) %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area(:body) %>
  </p>
  <p>
    <%= f.submit({:class => "btn btn-primary"}) %>
  </p>
<% end %>