  .board {
  margin: auto;
  width: 400px;
  height: 400px;
  border: 2px dashed #000000;
  position: relative;
  background-color: #ff0000;
}

.switch {
  background-color: #ffff00;
  width: 100px;
  height: 40px;
  bottom: 48%;
  right: 38%;
  position: absolute;
  margin: auto;
  display: inline-block;
}
.centered-items {
  text-align: center;
  margin: 2rem 10rem;
}
.container {
  position: absolute;
  right: 10%;
  top: 30%;
}
.container div{
  width: 200px;
  height: 20px;
  border: 1px solid #000000;
  margin: auto;
}
.row1, .row3 {
    background-color: #ababab;
}
.row2, .row4 {
    background-color: #000000;
}
/*toggle childs*/
.odd {
    background-color: #000000;
}
.even {
    background-color: #ababab;
}

/*toggle switchboard*/
.grey {
    background-color: #ababab;
}

