// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.well{
  background-color: #ababab;
  border: 1px dashed #000000;
  border-radius: 1cm;
  margin: 1cm;
  padding: 1cm;
}