body {
  background-color: #FFFAFA;
}
form{
  margin: 4% 35%;
}
input {
  display: block;
  margin: 5px;
  width: 400px;
  height: 30px;
}
label,span {
  font-size: 20px;
}
span{
  background-color: #80808099;
}