.navbar-brand img{
  width: 4rem;
}
.carousel-caption h1 {
  font-size: 3.5em;
  color: #000000CC;
}
.carousel-caption p {
  font-size: 2em;
  color: #ffffff99;
  background-color: #00000099;
}
.btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.card {
  width: 20rem;
  height: 25rem;
}
.row {
  margin: 4rem;
}
.card-img-top:hover {
transform: scale(1.1);
transition: 0.5s ease-out;
}
.d-block {
  height: 30rem;
}
.nav-link {
  color: #ffffff;
  margin: 1rem;
  background-color: #349beb99;
  border-radius: 5px;
}