body {
  background-color: #F4EDEF;
  font-family: "Times New Roman";
  padding: 0;
  margin: 0;
}
/*css for navbar*/
.navbar {
  background-color: #00000099; /*99 in the end is used for opacity*/
  width: 100%;
  position: fixed;
  z-index: 1;
}
.logo {
  width: 7%;
  margin: 0.2rem 1rem;
}
.nav-items {
  float: right;
  margin: 1rem;
}
.nav-items li {
  display: inline-block;
  margin: 1rem;
  background-color:
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ff564a;
}
.ham-menu {
  width: 0;
}
/*css for banner*/
.banner {
  position: relative;
  text-align: center;
  color: white;
}
.banner-image {
  width: 100%;
}
h1 {
  color: #ffffff99;
  font-size: 3rem;
  position: absolute;
  top: 30%;
  left: 40%;
}
h1:hover {
  color: #ff564a;
  transition: 1s ease-out;
}
/*css for courses*/
h2 {
  text-align: center;
  background-color: #71889540;
  color: #ff564a;
}
.flex-container {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-around;
}
.flex-container  div {
  border-radius: 10px;
  background-color: #19C5D299;
  flex-basis: 20%;
  height: 20rem;
  position: relative;
}
.lang {
  text-align: center;
}
.lang-image {
  width: 50%;
  margin: 10px;
  padding: 5px;
  border: 1px dashed #848C8D;
}
.lang-image:hover {
  width: 60% ;
  transition: .5s ease-out;
}
button {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.lang p {
  position: absolute;
  bottom: 10%;
}
h4 {
  position: absolute;
  bottom: 25%;
  left: 10%
}
/*css for testimonials*/
.photo1 img, .photo2 img {
  background-color: #ffffff;
  padding: 0.5rem;
  width: 50%;
  border: 1px dashed #000000;
  border-radius: 50%;
}
.testimonal1 ,.testimonal2 {
  display: flex;
  justify-content: space-around;
  margin: 8%;
  background-color: #75A7CA;
  border-radius: 5rem 1rem 5rem 1rem;
}
.testimonal1 div, .testimonal2 div {
  border-radius: 10px;
  flex-basis: 40%;
}
.name1 {
  direction: rtl;
}
.photo1, .photo2 {
  margin: auto;
  text-align: center;
}
footer {
  height: 11rem;
  background-color: #22212D;
}
footer ul {
  float: right;
  margin: : 2rem;
  margin: 4rem;
}
pre {
  display: inline-block;
  margin: 3rem;
  color:#F0F0F2;
}
/*media query for ipad*/
@media (min-width: 375px) and (max-width: 768px) {
  .logo {
    width: 10%;
    margin: 0.2rem 1rem;
  }
  .nav-items{
      display: none;
  }
  .ham-menu {
    width: 10%;
    float:right;
  }
  .flex-container {
    display: inline-block;
    margin: 10%;
  }
  .flex-container div {
    display: inline-block;
    width: 40%;
    margin: 2%
  }
  footer ul {
    left: 2rem;
    float: left;
    margin: 1rem;
  }
  pre {
    margin: 1rem;
    display: inline-block;
  }
}
/*media queries for mobile*/
@media (min-width: 0px) and (max-width: 375px) {
  .logo {
    width: 10%;
    margin: 0.2rem 1rem;
  }
  .navbar {
    height: 5%;
    width: 100%;
  }
  .nav-items{
    display: none;
  }
  .ham-menu {
    width: 10%;
    float:right;
  }
  .banner-image {
    display: inline;
    height: 25rem;
  }
  h1 {
    font-size: 2rem;
    left: 5%;
    top: 40%;
  }
  .flex-container {
    display: block;
    margin: 10%;
  }
  .flex-container div {
    width: 80%;
    margin: 10%;
  }
  .testimonal1, .testimonal2 {
    display:flex;
    flex-flow: row wrap;
    margin: 10%;
    border-radius: 1rem;
  }
  .testimonal2 {
    flex-direction: column-reverse;
  }
  .testimanal1 div, .testimanal2 div {
    margin: 10%;
  }
  .name1 {
    direction: ltr;
    margin: 2rem;
    padding: 1rem;
  }
  .name2 {
    margin: 2rem;
    padding: 1rem;
  }
  .photo1 img, .photo2 img {
    background-color: #ffffff;
    padding: 0.2rem;
    width: 110%;
    border: 1px dashed #000000;
    border-radius: 5%;
  }
  .photo2 img {
    width: 50%;
  }
  footer{
    height: 20rem;
  }
  pre {
    margin: 1rem;
    display: inline-block;
  }
  footer ul {
    margin: 2rem;
    left: 2rem;
    float: left;
  }
}