#board {
  margin: auto;
  width: 400px;
  height: 400px;
  border: 2px dashed #000000;
  position: relative;
}
.classBoard {
  background-color: #ff0000;
}
.yellow {
  background-color: #ffff00;
}
#switch {
  width: 100px;
  height: 40px;
  bottom: 48%;
  right: 38%;
  position: absolute;
  margin: auto;
  display: inline-block;
}
.centered-items {
  text-align: center;
  margin: 2rem;
}
#container {
  position: absolute;
  right: 10%;
  top: 10%;
}
.dragged {
       position: absolute;
       opacity: 0.5;
       z-index: 2000;
 }
 #drop {
   border: 1px dashed #000000;
   width: 220px;
 }

 ul{
   list-style-type: none;
   height: 200px;

 }
 .drag{
   border: 1px solid black;
   margin: 10px;
   width: 200px;
   height: 20px;
   cursor: pointer;
   background-color: #0000ff99;
 }
 .bg-change {
  background-color: #00ff0099;
 }

  .dropped {
    background-color: #ff000099;
}
/*#container div{
  width: 200px;
  height: 20px;
  border: 1px solid #000000;
  margin: auto;*/
}
/*.row1 {
    background-color: #ababab;
}
.row2 {
    background-color: #000000;
}
toggle rows
.even {
    background-color: #000000;
}
.odd {
    background-color: #ababab;
}*/
/*toggle switch*/
.green {
  background-color: #00ff00;
}
/*toggle board*/
.grey {
  background-color: #ababab;
}