* {
  font-family:Candara;
}
.title {
  text-align: center;
  background-color: #00000033;
  color: #00000099;
  margin: 2rem 0;
}
.bear {
  width: 100%;
  border-radius: 10rem 1rem 0 0;
}
.bunny {
  width: 100%;
  border-radius: 1rem 10rem 0 0;
}
.quote {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.quote:hover {
  transform: scale(1.1);
  transition: 0.2s ease-out;
}
.dummy {
  height:91px;
}
footer {
  color: #ffffff;
}
  @media (max-width: 375px) and (max-width: 768px) {
  .kabir {
    display: flex
;    flex-direction: column-reverse;
  }
  .bunny, .bear {
    border-radius: 1rem;
  }
}