<h1>edit post</h1>

<%= form_for :post, url: post_path(@post), method: :patch do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field(:title, {:class => "form-control"}) %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area(:body, {:class => "form-control"}) %>
  </p>
  <p>
    <%= f.submit({:class => "btn btn-primary"}) %>
  </p>
<% end %>