<% @post.each do |post| %>
  <div class="well">
    <h3> <%= post.title %> </h3 >
    <p> <%= post.body %> </p>
    <%= link_to "read more", post_path(post), :class => 'btn btn-success' %>
  </div>

<% end %>