<h1>New Post</h1>

<%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |e| %>
      <div class="alert alert-danger"><%= e %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field(:title, {:class => "form-control"}) %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area(:body, {:class => "form-control"}) %>
  </p>
  <p>
    <%= f.submit({:class => "btn btn-primary"}) %>
  </p>
<% end %>