<h1> <%= @post.title %> </h1>
<p> <%= @post.body %> </p>
<hr>
<%= link_to "edit", edit_post_path(@post), :class => 'btn btn-info' %>
<%= link_to "delete", post_path(@post), method: :delete,
                                        data:{confirm: "are you crazy?" },
                                        :class => 'btn btn-danger' %>
<%= render 'comments/comments' %>
<hr>
<%= render 'comments/form' %>