<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand" href="#">My Blogs</a>
      <ul class="navbar-nav nav">
        <li><%= link_to "home", home_path %></li>
      </ul>
      <ul class="navbar-nav">
       <li><%= link_to "Create Post", new_post_path %></li>
      </ul>
    </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
