.amp-carousel-slide>.i-amphtml-replaced-content {
  object-fit: cover;
}
.hamburger {
  font-size: 2em;
  margin: 0 10px;
  display: inline-block;
}
.sidebar {
  padding: 10px;
  margin: 0;
}
.sidebar > li {
  list-style: none;
  margin: 0 0 10px 0;
}
 a {
  text-decoration: none;
}
.close-sidebar {
  font-size: 1.5em;
  padding-left: 5px;
}
.site-name {
  display: inline-block;
  float: right;
  margin: 1rem;
}
.column {
  display: inline-block;
  width: 25%;
  padding: 0 10px;
}
.row {
  margin: 2rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 20rem;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
}
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  }
.read {
  display: inline-block;
  right: 10px;
  bottom: 10px;
  position: absolute;
  }
  .site-name {
    margin: 0 0 0 30%;
  }
}